spring:
  application:
    name: order-service

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml

  kafka:
    listener:
      observation-enabled: true
      immediate-stop: false

    bootstrap-servers: 172.22.175.62:9092, 172.22.175.62:9093, 172.22.175.62:9094
    producer:
      observation-enabled: true
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: order-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  lifecycle:
    timeout-per-shutdown-phase: 30s

management:
  tracing:
    sampling:
      probability: 1.0

  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - circuitbreakers

logging:
  pattern:
    level: "%5p [traceId=%X{traceId},spanId=%X{spanId}]"

server:
  port: 8081
  address: 0.0.0.0
  shutdown: graceful

resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 5
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 1

