spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: order-service-route
              uri: http://localhost:8081
              predicates:
                - Path=/orders/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@ipKeyResolver}"
                    redis-rate-limiter.replenish-rate: 1  #1 request per second will be added
                    redis-rate-limiter.burst-capacity: 1  # max 1 token in the bucket
                    redis-rate-limiter.requested-tokens: 1 # consume 1 token per request

            - id: payment-service-route
              uri: http://localhost:8082
              predicates:
                - Path=/payments/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@ipKeyResolver}"

  redis:
    host: localhost
    port: 6379

server:
  port: 8080
